<!-- Change the bound model -->
@model Web.Models.SearchViewModel

<h2>Edit</h2>

<!-- Razor helper to generate the field html -->
@helper field(System.Linq.Expressions.Expression<Func<Web.Models.SearchViewModel, string>> expression)
{
    <div class="editor-label">
        @Html.LabelFor(expression)
    </div>
    <div class="editor-field">
        <input type="text" data-bind="value: @ExpressionHelper.GetExpressionText(expression)" />
    </div>
}

@using (Html.BeginForm())
{
    <!-- Explicitly change scope of the binding using 'with' -->
    <fieldset data-bind="with: currentItem">
        <legend>Person</legend>

        @field(model => model.Name)
        @field(model => model.Surname)
        @field(model => model.Email)
        
        <p>
            <button data-bind="click: save">Save</button>
        </p>
    </fieldset>
}

<div>
    <!-- Bind the back link -->
    <a href="#" data-bind="click: back">Back to List</a>
</div>