@model Web.Models.SearchViewModel

@helper td(System.Linq.Expressions.Expression<Func<Web.Models.Person, object>> expression)
{
    <td data-bind="text: @ExpressionHelper.GetExpressionText(expression)"></td>
}

<!-- Only show this section if there are any results -->
<div data-bind="visible: results().length > 0">
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
        <!-- Use a 'virtual' foreach tag -->
        <!-- ko foreach: results -->
        <tr>
            @td(model => model.Name)
            @td(model => model.Surname)
            @td(model => model.Email)
            <td>
                <a href="#" data-bind="click: edit">Edit</a> | <a href="#" data-bind="click: remove">Remove</a>
            </td>
        </tr>
        <!-- /ko -->
    </table>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>