@model Web.Models.SearchViewModel

<br />
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Search for people:</legend>

        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)

        @Html.LabelFor(model => model.Surname)
        @Html.TextBoxFor(model => model.Surname)

        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email)

        <button type="submit">Search</button>
    </fieldset>
}